<header class="app-header navbar">
  <button appMobileSidebarToggler=""
          class="navbar-toggler d-lg-none"
          type="button">&#9776;</button>
  <a class="navbar-brand"
     href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item"
        style="padding-left: 75px">
      <a appSidebarToggler=""
         class="nav-link navbar-toggler"
         href="#">&#9776;</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" style="padding-right: 2%" *ngIf="auth.currentUser">
      <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
          <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
              <span class="d-md-down-none">{{ auth.currentUserDisplayName }}</span>
            </a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
          </div>
      </li>
  </ul>
</header>
<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/dashboard"
             routerLinkActive="active">
          <i class="icon-speedometer"></i>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/events/new"
             routerLinkActive="active">
          <i class="icon-plus"></i>New Event</a>
        </li>
        <li appNavDropdown=""
            class="nav-item nav-dropdown">
          <a appNavDropdownToggle=""
             class="nav-link nav-dropdown-toggle"
             routerLink="/events/my-events"
             routerLinkActive="active">
          <i class="icon-pencil"></i>My Events</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link"
                 routerLink="/events/sample"
                 routerLinkActive="active">
              <i class="icon-calculator"></i>Sample Event</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>
<!-- <footer class="app-footer"> -->
<!-- <a href="http://coreui.io">CoreUI</a>&copy; 2017 creativeLabs. 
<span class="float-right">Powered by 
<a href="http://coreui.io">CoreUI</a></span> -->
<!-- </footer> -->
