<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-8 col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-hand-spock-o"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">EVENTS HOSTED</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-8 col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-ticket"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">TICKETS SOLD</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-8 col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-dollar"></i>
          </div>
          <div class="h4 mb-0">KES 0</div>
          <small class="text-muted text-uppercase font-weight-bold">SALES VOLUME</small>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
